<h1>Jukebox for Sonos</h1>

<h3>Finish setup</h3>

<% if @already_submitted %>
  <%# TODO: add design %>
  <h2 style="color: red">Could not find the playlist, please make sure to follow the steps below</h2>
<% end %>

<p>Before you can use Jukebox for Sonos, you have to do one manually. This is required to have the connection between Sonos and Spotify. The playlist talked below is only used internally, and you don't have to interact with it at all.</p>

<ol>
  <li>Open the <b>Sonos app</b> on your iPhone or Android</li>
  <li>Switch to <b>Search</b> and enter <b>"<%= @spotify_playlist_name %>"</b> for <b>Playlists</b></li>
  <li>Select the playlist</li>
  <li>Tap on the top right 3 dots ...</li>
  <li>Tap on <b>Add Playlist to My Sonos</b></li>
  <li>Optional: In the Spotify app, you can freely move around the newly created playlist. However, as long as you want to use Jukebox, do NOT delete the playlist</li>
  <li>Optional: In the Spotify app, you can also rename the playlist if you prefer a different name.</li>
</ol>

<a href="/party?submitted=true"><b>Press here once you completed the above</b></a>
