<% raise "No title provided" if @title.to_s.length == 0 %>

<head>
  <title><%= @title %> - AuxCord.org</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
  <style type="text/css">
    <%= File.read("views/assets/application.css") %>
  </style>
  <%= yield %>
</body>
