<% if @logged_out %>
  <h1>Successfully deleted all Sonos & Spotify tokens, and logged out</h1>
  <hr style="margin-bottom: 50px;" />
<% else %>
  <h1>Jukebox for Sonos</h1>
<% end %>

<h3>Connect Sonos</h3>

<% if @sonos_login_url %>
  <a href="<%= @sonos_login_url %>">Connect Sonos</a>
<% else %>
  <h3>☑️ Sonos successfully connected</h3>
<% end %>

<h3>Connect Spotify</h3>

<% if @spotify_login_url %>
  <a href="<%= @spotify_login_url %>">Connect Spotify</a>
<% end %>
