<h1>Jukebox for Sonos</h1>

<div id="loading-div">
  <h3>Adding song to Jukebox...</h3>
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  <p class="footnote">This might take a few seconds</p>
</div>

<input type="text" name="song" value="" placeholder="Enter Song Name" id="song-input"> 
<ul id="song-list"></ul>

<%= erb :"js/_queue_song.js", layout: false %>
<%= erb :"css/_queue_song.css", layout: false %>
<%= erb :"css/_loading-indicator.css", layout: false %>
